.flush_left {
    text-align: left;
}
.flush_right {
    text-align: right;
}
.centered {
    text-align: center;
}
.display-2 {
    font-size: 1.5rem;
    font-weight: 300;
}
.card {
    height: 350px;
}
.center-block {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.nopaddingright {
    padding-right: 0px;
}
table.csvtabledata {
    font-size: 60%;
    border: 1px solid;
    margin: 2em;
}
td {
    border: 1px solid;
}
tbody.csvtabledata th.csvtabledata {
    text-align: left;
}
.md-toolbar-tools {
    height: 90px;
    max-height: 90px;
}
.tabsdemoDynamicHeight md-content {
    background-color: transparent !important;
}
.tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1;
}
.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
    background: white;
}
.tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0;
}

.s24 {
  width: 24px;
  height: 24px;
  color: #f00; }

.s36 {
  width: 36px;
  height: 36px;
  color: #0f0; }

.s48 {
  width: 48px;
  height: 48px;
  color: #00f; }
