<!doctype html>
<html ng-app="smartpi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/reset.css">
    <!-- CSS reset -->
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css" />
    <link href="vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.css">
    <link rel="stylesheet" href="css/stretchy.css">

    <link href="vendor/md-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css" />
    <!-- Resource style -->
    <link rel="stylesheet" href="css/styles.css?v=1" />
    <!-- Custom CSS -->
    <link href="css/sb-admin-2.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css"> -->
    <script>
        document.write("<link rel='stylesheet' href='css/angular-material.min.css?v=" + Date.now() + "'/>");
    </script>
    <script>
        document.write(" <script type = 'text/javascript' src='vendor/md-data-table/dist/md-data-table.min.js?v=" + Date.now() + "'><\/script>");
    </script>
    <!--<link rel="stylesheet" href="css/smartpi.css?v=1" /> -->
    <script>
        document.write("<link rel='stylesheet' href='css/smartpi.css?v=" + Date.now() + "'/>");
    </script>
    <script src="js/modernizr.js"></script>
    <!-- Modernizr -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/nvd3/build/nv.d3.js"></script>
    <!-- or use another assembly -->
    <script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-file-saver/dist/angular-file-saver.bundle.js"></script>
    <script src="bower_components/angular-base64/angular-base64.js"></script>
    <script src="bower_components/crypto-js/crypto-js.js"></script>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script> -->
    <script>
        document.write("<script type='text/javascript' src='js/angular-animate.min.js?v=" + Date.now() + "'><\/script>");
    </script>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script> -->
    <script>
        document.write("<script type='text/javascript' src='js/angular-aria.min.js?v=" + Date.now() + "'><\/script>");
    </script>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script> -->
    <script>
        document.write("<script type='text/javascript' src='js/angular-messages.min.js?v=" + Date.now() + "'><\/script>");
    </script>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script> -->
    <script>
        document.write("<script type='text/javascript' src='js/angular-material.min.js?v=" + Date.now() + "'><\/script>");
    </script>
    <script>
        document.write(" <script type = 'text/javascript' src='vendor/md-data-table/dist/md-data-table.min.js?v=" + Date.now() + "'><\/script>");
    </script>
    <!--<script src="js/app.js?v=1"></script>-->
    <script>
        document.write("<script type='text/javascript' src='js/app.js?v=" + Date.now() + "'><\/script>");
    </script>
    <!--<script src="js/services.js?v=1"></script>-->
    <script>
        document.write("<script type='text/javascript' src='js/services.js?v=" + Date.now() + "'><\/script>");
    </script>
    <!--<script src="js/module.js?v=1"></script>-->
    <script>
        document.write("<script type='text/javascript' src='js/module.js?v=" + Date.now() + "'><\/script>");
    </script>
    <!--<script src="js/controllers.js?v=1"></script>-->
    <script>
        <!-- <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css" /> -->
        document.write("<script type='text/javascript' src='js/controllers.js?v=" + Date.now() + "'><\/script>");
    </script>
    <title>SmartPi Dashboard</title>
</head>

<body ng-app="SmartPi" ng-controller="MainCtrl">
    <header>
        <nav class="cd-stretchy-nav">
            <a class="cd-nav-trigger" href="#0">
                <span aria-hidden="true"></span>
            </a>
            <ul>
                <li><a href="index.html" class="active"><span></span></a></li>
                <li><a ng-href="{{influxdblocation}}" target="_blank"><span></span></a></li>
                <!-- <li><a href="export.html"><span></span></a></li> -->
                <li><a ng-href="{{nodelocation}}" target="_blank"><span></span></a></li>
                <li><a ng-href="{{grafanalocation}}" target="_blank"><span></span></a></li>
                <li><a href="settings.html"><span></span></a></li>
                <li><a ng-href="{{filebrowserlocation}}" target="_blank"><span></span></a></li>
                <li><a ng-href="{{websshlocation}}" target="_blank"><span></span></a></li>
                <!-- <li><a ng-href="{{networklocation}}" target="_blank"><span></span></a></li> -->
                <!-- <li><a href="#0"><span></span></a></li> -->
                <!-- <li><a href="#0"><span></span></a></li> -->
                <!-- <li><a href="#0"><span></span></a></li> -->
            </ul>
            <span aria-hidden="true" class="stretchy-nav-bg"></span>
        </nav>
    </header>
    <!--<main class="cd-main-content">
         <!-- main content here -->
    <!--</main>-->
    <md-content class="md-default-theme">
        <div class="md-toolbar-tools">
            <span flex></span>
            <div hide show-gt-sm>
                <img src="img/enerserve.png" alt="enerserve logo" height="52">
                </br>
                <span style="font-size: small;">Version: {{softwareversion}}</span>
            </div>
            <div show hide-gt-sm>
                <md-button ng-click="openSidebar()" class="md-fab md-primary" aria-label="Graph Menu" hide-gt-sm>
                    <md-icon md-svg-src="img/icons/ic_menu_24px.svg"></md-icon>
                </md-button>
            </div>
        </div>
        </md-toolbar>
        <div flex="66">
            <section layout="row">

                <md-content flex>


                    <div ng-switch="toShow">
                        <div ng-switch-when="dashboard">

                            <div layout="row" layout-wrap layout-sm="column">
                                <div flex>
                                    <md-card class="md-default-theme" style="margin-top: 0px;">
                                        <md-toolbar layout="row">
                                            <div class="md-toolbar-tools">
                                                <h2>
                                                    <span>Power</span>
                                                </h2>
                                                <span flex></span>
                                                <div class="huge">{{formatNumber(momentary.power_total)}} W</div>
                                            </div>
                                        </md-toolbar>
                                        <md-toolbar layout="row">
                                            <div class="md-toolbar-tools">
                                                <div class="flex">
                                                    <h1 class="display-2">P1: {{formatNumber(momentary.power[0])}} W</h1>
                                                </div>
                                                <div class="flex">
                                                    <h1 class="display-2">P2: {{formatNumber(momentary.power[1])}} W</h1>
                                                </div>
                                                <div class="flex">
                                                    <h1 class="display-2">P3: {{formatNumber(momentary.power[2])}} W</h1>
                                                </div>
                                            </div>
                                        </md-toolbar>
                                        <div layout="row">
                                            <div flex>
                                                Consumption today: {{formatNumber(dayconsumption_total/1000)}} kWh
                                            </div>
                                            <div flex>
                                                Production today: {{formatNumber(dayproduction_total/1000)}} kWh
                                            </div>
                                        </div>
                                </div>
                                <div flex>
                                    <md-card class="md-default-theme" style="margin-top: 0px;">
                                        <md-toolbar layout="row">
                                            <div class="md-toolbar-tools">
                                                <h2>
                                                    <span>Current</span>
                                                </h2>
                                                <span flex></span>
                                                <div class="huge">{{formatNumber(momentary.current_total)}} A</div>
                                            </div>
                                        </md-toolbar>
                                        <md-toolbar layout="row">
                                            <div class="md-toolbar-tools">
                                                <div class="flex">
                                                    <h1 class="display-2">I1: {{formatNumber(momentary.current[0])}} A</h1>
                                                </div>
                                                <div class="flex">
                                                    <h1 class="display-2">I2: {{formatNumber(momentary.current[1])}} A</h1>
                                                </div>
                                                <div class="flex">
                                                    <h1 class="display-2">I3: {{formatNumber(momentary.current[2])}} A</h1>
                                                </div>
                                            </div>
                                        </md-toolbar>
                                        <div layout="row">
                                            <div flex="33">
                                                U1: {{formatNumber(momentary.voltage[0])}} V
                                            </div>
                                            <div flex="33">
                                                U2: {{formatNumber(momentary.voltage[1])}} V
                                            </div>
                                            <div flex="33">
                                                U3: {{formatNumber(momentary.voltage[2])}} V
                                            </div>
                                        </div>
                                        <div layout="row">
                                            <div flex="33">
                                                F1: {{formatNumber(momentary.frequency[0])}} Hz
                                            </div>
                                            <div flex="33">
                                                F2: {{formatNumber(momentary.frequency[1])}} Hz
                                            </div>
                                            <div flex="33">
                                                F3: {{formatNumber(momentary.frequency[2])}} Hz
                                            </div>
                                        </div>
                                        <div layout="row">
                                            <div flex="33">
                                                Cos Phi 1: {{formatNumber(momentary.cosphi[0])}}
                                            </div>
                                            <div flex="33">
                                                Cos Phi 2: {{formatNumber(momentary.cosphi[1])}}
                                            </div>
                                            <div flex="33">
                                                Cos Phi 3: {{formatNumber(momentary.cosphi[2])}}
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <div layout="row" layout-wrap>
                                <div flex>
                                    <md-card class="md-default-theme">
                                        <md-toolbar layout="row">
                                            <div class="md-toolbar-tools">
                                                <h2>
                                                    <span>Consumption</span>
                                                </h2>
                                                <span flex></span>
                                                <div class="huge">Week</div>
                                            </div>
                                        </md-toolbar>
                                        <nvd3 options='weekconsumptionoptions' data='weekconsumptiondata'></nvd3>
                                    </md-card>
                                </div>
                            </div>

                        </div>

                        <div ng-switch-when="chart">

                            <div layout="row" layout-wrap>
                                <div flex>
                                    <md-card class="md-default-theme" style="margin-top: 0px;">
                                        <md-toolbar layout="row">
                                            <div class="md-toolbar-tools">
                                                <span flex></span>
                                                <md-button ng-click="dayback()" class="md-raised">
                                                    < day back </md-button>
                                                        <md-button ng-click="dayforward()" class="md-raised" ng-disabled="disabledayforwardbutton"> day forward > </md-button>
                                                        <md-button ng-click="adddayback()" class="md-raised">
                                                            << add day back </md-button>
                                                                <md-button ng-click="removedayback()" class="md-raised" ng-disabled="disabledayremovebutton"> >> remove day back </md-button>
                                            </div>
                                        </md-toolbar>
                                        <md-toolbar layout="row">
                                            <div class="md-toolbar-tools">
                                                <span flex></span>
                                                <md-button ng-init="showLinechartPower = true" ng-click="linechartPower()" class="md-raised" ng-class="btnpowerline">power</md-button>
                                                <md-button ng-init="showLinechartEnergyPos = false" ng-click="linechartEnergy_pos()" class="md-raised" ng-class="btnenergy_posline">energy consumption</md-button>
                                                <md-button ng-init="showLinechartEnergyNeg = false" ng-click="linechartEnergy_neg()" class="md-raised" ng-class="btnenergy_negline">energy production</md-button>
                                                <md-button ng-init="showLinechartCurrent = false" ng-click="linechartCurrent()" class="md-raised" ng-class="btncurrentline">current</md-button>
                                                <md-button ng-init="showLinechartVoltage = false" ng-click="linechartVoltage()" class="md-raised" ng-class="btnvoltageline">voltage</md-button>
                                            </div>
                                        </md-toolbar>
                                        <nvd3 options='options' data='data'></nvd3>
                                    </md-card>
                                </div>
                            </div>


                        </div>
                    </div>




                </md-content>

                <md-sidenav class="md-sidenav-right" md-component-id="sidebarright" md-is-locked-open="$mdMedia('gt-sm')" md-whiteframe="4">
                    <md-toolbar class="md-theme-indigo">
                        <div layout="row">
                            <h1 class="md-toolbar-tools">Graph</h1>
                            <span flex></span>
                            <md-icon ng-click="closeSidebar()" md-svg-src="img/icons/ic_close_48px.svg" class="s48" aria-label="Close" hide-gt-sm></md-icon>
                        </div>
                    </md-toolbar>
                    <md-content layout-padding="" layout="column" layout-align="start start">
                        <md-button style="text-align:left" ng-click="show('dashboard')" class="md-primary">Dashboard</md-button>
                        <md-button style="text-align:left" ng-click="show('chart')" class="md-primary">Chart</md-button>

                    </md-content>
                </md-sidenav>

            </section>
        </div>
    </md-content>
    <script src="js/jquery-2.1.4.js"></script>
    <script src="js/main.js"></script>
    <!-- Resource jQuery -->
    <script src="bower_components/tether/dist/js/tether.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="vendor/metisMenu/metisMenu.min.js"></script>
    <script src="js/sb-admin-2.js"></script>
    <script src="js/scripts.js"></script>
</body>

</html>