<html ng-app="smartpi">
<head>
  <meta charset="utf-8">  <!-- it's important for d3.js -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script data-require="lodash.js@4.6.1" data-semver="4.6.1" src="/bower_components/lodash/dist/lodash.js"></script>
   <script>document.write('<base href="' + document.location + '" />');</script>


 <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
 <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css" />

 <link rel="stylesheet" href="css/styles.css" />
 <link rel="stylesheet" href="css/smartpi.css" />


<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/d3/d3.js"></script>
<script src="bower_components/nvd3/build/nv.d3.js"></script> <!-- or use another assembly -->
<script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/module.js"></script>
<script src="js/controllers.js"></script>

<link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.css">
</head>
<body  ng-app="SmartPi" ng-controller="MainCtrl">

  <!-- <nav class="navbar navbar-fixed-top navbar-dark bg-primary">
      <button class="navbar-toggler hidden-sm-up pull-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
          ☰
      </button>
      <a class="navbar-brand" href="#">Navbar</a>
      <div class="collapse navbar-toggleable-xs" id="collapsingNavbar">
          <ul class="nav navbar-nav pull-right">
              <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">Home</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#features">Features</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#myAlert" data-toggle="collapse">Wow</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="" data-target="#myModal" data-toggle="modal">About</a>
              </li>
          </ul>
      </div>
  </nav> -->


  <div class="container-fluid" id="main">
    <div class="row">
      <div class="col-md-6">
        <div class="card card-inverse card-success">
            <div class="card-block bg-success">
                <div class="rotate">
                    <i class="fa fa-info fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Power</h6>
                <h1 class="display-1">{{formatNumber(momentary.power_total)}} W</h1>

                     <div class="col-md-4"><h1 class="display-2">P1: {{formatNumber(momentary.power[0])}} W</h1></div>
                     <div class="col-md-4"><h1 class="display-2">P2: {{formatNumber(momentary.power[1])}} W</h1></div>
                     <div class="col-md-4"><h1 class="display-2">P3: {{formatNumber(momentary.power[2])}} W</h1></div>

                     <div class="col-md-4"><h1 class="display-2">Cos	&Phi;1: {{formatNumber(momentary.cosphi[0])}}</h1></div>
                     <div class="col-md-4"><h1 class="display-2">Cos	&Phi;2: {{formatNumber(momentary.cosphi[1])}}</h1></div>
                     <div class="col-md-4"><h1 class="display-2">Cos	&Phi;3: {{formatNumber(momentary.cosphi[2])}}</h1></div>

            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-inverse card-info">
            <div class="card-block bg-info">
                <div class="rotate">
                    <i class="fa fa-info fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Current</h6>
                <h1 class="display-1">{{formatNumber(momentary.current_total)}} A</h1>

                     <div class="col-md-4"><h1 class="display-2">I1: {{formatNumber(momentary.current[0])}} A</h1></div>
                     <div class="col-md-4"><h1 class="display-2">I2: {{formatNumber(momentary.current[1])}} A</h1></div>
                     <div class="col-md-4"><h1 class="display-2">I3: {{formatNumber(momentary.current[2])}} A</h1></div>

                     <div class="col-md-4"><h1 class="display-2">U1: {{formatNumber(momentary.voltage[0])}} V</h1></div>
                     <div class="col-md-4"><h1 class="display-2">U2: {{formatNumber(momentary.voltage[1])}} V</h1></div>
                     <div class="col-md-4"><h1 class="display-2">U3: {{formatNumber(momentary.voltage[2])}} V</h1></div>

                     <div class="col-md-4"><h1 class="display-2">F1: {{formatNumber(momentary.frequency[0])}} Hz</h1></div>
                     <div class="col-md-4"><h1 class="display-2">F2: {{formatNumber(momentary.frequency[1])}} Hz</h1></div>
                     <div class="col-md-4"><h1 class="display-2">F3: {{formatNumber(momentary.frequency[2])}} Hz</h1></div>

            </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <nvd3 options='options' data='data'></nvd3>
    </div>
    <div class="row">
      <p>
        <button ng-init="showLinechartPower = true" ng-click="linechartPower()" type="button" class="btn btn-primary">power</button>
        <button ng-init="showLinechartEnergyPos = false" ng-click="linechartEnergy_pos()" type="button" class="btn btn-default">energy consumtion</button>
        <button ng-init="showLinechartEnergyNeg = false" ng-click="linechartEnergy_neg()" type="button" class="btn btn-default">energy production</button>
        <button ng-init="showLinechartCurrent = false" ng-click="linechartCurrent()" type="button" class="btn btn-default">current</button>
        <button ng-init="showLinechartVoltage = false" ng-click="linechartVoltage()" type="voltage" class="btn btn-default">voltage</button>
      </p>
    </div>



  </div>








<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/tether/dist/js/tether.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>
