# Ignore built binaries.
bin/
bin64/
bin32/
src/snippets

# Ignore CSV logs.
*.csv

#Ignore Mac-Files
*.DS_Store
.DS_Store

# Ignore VS-Code files.
.vscode
._*

go.mod.bak
go.sum.bak

# Ignore vendor dir with go modules.
vendor
