<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Login</h2>
                <span flex></span>
                <!-- <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button> -->
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>Username</label>
                    <input ng-model="user.name">
                </md-input-container>

                <md-input-container md-no-float class="md-block">
                    <label>Password</label>
                    <input type="{{inputType}}" ng-model="user.password">
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="LoginSettings()" md-autofocus>
                Login
            </md-button>
            <span flex></span>

            <md-button ng-click="hideShowPassword()">
                {{showHidePassword}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
