[Unit]
Description=SmartPi
Wants=syslog.target network.target
After=syslog.target network.target remote-fs.target nss-lookup.target systemd-journald-dev-log.socket

[Service]
Type=simple
PIDFile=/run/smartpireadout.pid
ExecStart=/usr/local/bin/smartpietemperaturereadout
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
StandardOutput=null
StandardError=journal
RemainAfterExit=no
User=smartpi

[Install]
WantedBy=multi-user.target 
